
<div class="login-container">
    <div class="login-content">
        <p class="titulo">Login</p>
        <p class="titulo-intro">Welcome back!</p>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput type="text">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>password</mat-label>
            <input matInput type="password">
        </mat-form-field>

        <p class="olvido-label">olvide mi contraseña</p>
        <p class="alternativa">¿Aun no tiene una cuenta? <span>Sing up</span></p>

        <div class="or-line-divider">
            <p>O</p>
        </div>

    </div>
</div>
